`uuid()` produces UUIDs that are not v4

### Community note

> [!TIP]
> 👋 Hi there, OpenTofu community! The OpenTofu team prioritizes issues based on upvotes. Please make sure to upvote this issue and describe how it affects you in detail in the comments to show your support.

### OpenTofu Version

```shell
OpenTofu v1.11.4
on linux_amd64
```

### OpenTofu Configuration Files

_No response_

### Debug Output

_No response_

### Expected Behavior

The [docs](https://github.com/opentofu/opentofu/blob/08ba66ab6e57ca54a33566313cba9d7259624a72/website/docs/language/functions/uuid.mdx?plain=1#L10-L13) say:

> `uuid` generates a unique identifier string. The id is generated and formatted as required by [RFC 4122 section 4.4](https://tools.ietf.org/html/rfc4122#section-4.4), producing a Version 4 UUID. The result is a UUID generated only from pseudorandom numbers.

So `uuid()` should _only_ generate UUIDs of the shape `********-****-4***-****-************`.

### Actual Behavior

However, `uuid()` generates UUID of the shape of `********-****-****-****-************`.

### Steps to Reproduce

```console
$ tofu console
> uuid()
"a1e4d23d-a663-6348-132f-137ec14e989b"
```

### Additional Context

_No response_

### References

_No response_