Replace hashicorp/go-uuid with google/uuid

OpenTofu currently uses both `github.com/hashicorp/go-uuid` and `github.com/google/uuid`. Google's module performs better and has more options.

The goal is to simplify the dependency stack of OpenTofu and simplify some parts of the code.

Already proposed https://github.com/opentofu/opentofu/pull/1524 and https://github.com/opentofu/opentofu/pull/1526 to advance with the change. Rest of changes are WIP.

### Target release ### 
1.7

I do broadly agree that a better-maintained library would be beneficial in the long run, but I do want to caution that `hashicorp/go-uuid` is actually a misnomer: that library generates a 16-byte random number and then returns it as a string that mimics the typical string presentation of a UUID, but the bit pattern it generates does not conform to [RFC 4122 Section 4.4](https://datatracker.ietf.org/doc/html/rfc4122#section-4.4).

A standard-compliant UUIDv4 assigns six bits to non-random metadata, and so is strictly less random than what `hashicorp/go-uuid` generates. Therefore it may not be appropriate to swap this library for a standard-compliant UUIDv4 library in all cases. Hopefully these cases are obscure enough to not be important for OpenTofu, but probably worth reviewing each use to make sure.
