I'm going to study this one a little more closely, since I agree that the vulnerability summary suggests that it only affects servers but yet the advisory metadata implicates various methods of `Client` too and so I'd like to review what changed in the fix to understand whether there's some variation of this that would affect clients.

I'll share more soon, once I've dug a little deeper.


It appears that the fix for this problem was [`7292932d45d5`](https://github.com/golang/crypto/commit/7292932d45d55c7199324ab0027cc86e8198aa22), whose commit message includes some additional detail:

> ```
> ssh: limit the size of the internal packet queue while waiting for KEX
>
> In the SSH protocol, clients and servers execute the key exchange to
> generate one-time session keys used for encryption and authentication.
> The key exchange is performed initially after the connection is
> established and then periodically after a configurable amount of data.
> While a key exchange is in progress, we add the received packets to an
> internal queue until we receive SSH_MSG_KEXINIT from the other side.
> This can result in high memory usage if the other party is slow to
> respond to the SSH_MSG_KEXINIT packet, or memory exhaustion if a
> malicious client never responds to an SSH_MSG_KEXINIT packet during a
> large file transfer.
> We now limit the internal queue to 64 packets: this means 2MB with the
> typical 32KB packet size.
> When the internal queue is full we block further writes until the
> pending key exchange is completed or there is a read or write error.
> ```

This is describing the Go implementation's handling of [RFC 4253 section 7](https://www.rfc-editor.org/rfc/rfc4253#section-7). Since SSH treats each stream direction as independent, they each complete key exchange independently and so it seems that in principle a malicious SSH server could cause unbounded memory allocation in its client by continuing to send data while the client is waiting for key exchange to be completed.

I assume that the summary focused on servers because a server is typically expected to accept unsolicited connections from clients at any time and may be serving connections from multiple clients simultaneously, and so a denial of service in that direction is both easier to arrange and potentially more consequential.

The server-to-client variation of this would require that an operator have explicitly configured OpenTofu to contact an attacker-controlled SSH server. The consequence of the attack would be large memory usage by the OpenTofu process, potentially leading to that process eventually growing so large that it is killed by the host OS kernel, which would cause any not-yet-committed state changes to be lost.

We have already upgraded to a fixed version of this library on our `main` branch and so the fix will be included in our forthcoming v1.10 series. While earlier versions are potentially vulnerable, the hypothetical attack requires the attacker to convince an OpenTofu process to connect to an SSH server they control. If an attacker was able to succeed in that effort then this is just one of several problems the attacker could potentially cause for the client, and so this problem does not seem to significantly worsen that situation.

Therefore my recommendation is that we ship with the updated implementation in the v1.10 series as planned, but that backporting to earlier releases does not seem warranted.
